@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Fira Code";
    src: url("/assets/fonts/FiraCode-VF.woff2") format("woff2");
  }

  /* eb-garamond-regular - latin */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "EB Garamond";
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/eb-garamond-v27-latin-regular.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* eb-garamond-italic - latin */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "EB Garamond";
    font-style: italic;
    font-weight: 400;
    src: url("/assets/fonts/eb-garamond-v27-latin-italic.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* eb-garamond-700 - latin */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "EB Garamond";
    font-style: normal;
    font-weight: 700;
    src: url("/assets/fonts/eb-garamond-v27-latin-700.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* eb-garamond-700italic - latin */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "EB Garamond";
    font-style: italic;
    font-weight: 700;
    src: url("/assets/fonts/eb-garamond-v27-latin-700italic.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  h1 {
    @apply text-3xl font-mono text-orange-200;
  }

  h2 {
    @apply text-2xl font-mono text-orange-200 my-3;
  }

  h3,
  h4,
  h5,
  h6 {
    @apply text-lg font-mono text-orange-100 mt-3 mb-1;
  }

  p {
    @apply font-serif;
  }

  hr {
    @apply my-2;
  }

  .post-content {
    @apply font-serif;

    h1 {
      @apply mb-4;
    }

    p {
      @apply mb-4 leading-relaxed;
    }

    a {
      @apply text-blue-300 underline;
    }

    code {
      @apply !text-sm;
    }

    code:not(pre code) {
      @apply font-mono bg-gray-700 px-1.5 py-0.5 rounded;
    }

    pre {
      @apply block !bg-slate-800 p-4 rounded mb-4 !leading-snug !py-3 !px-5;
    }

    blockquote {
      @apply border-l-4 border-red-200 bg-red-900 p-2 my-4;

      blockquote {
        @apply border-l-4 border-orange-200 bg-orange-800 p-2 my-4;
      }

      :last-child {
        @apply mb-0;
      }
    }

    ul {
      @apply list-disc list-inside mb-4 ml-6;

      li {
        p:first-child {
          @apply inline-block;
        }

        p:not(:first-child) {
          @apply ml-6;
        }

        blockquote {
          @apply my-0 ml-4;
        }

        pre code {
          @apply -mt-4 ml-6;
        }
      }
    }

    ol {
      @apply list-decimal list-inside mb-4 ml-6;
    }
  }
}
